---
const { t, lang } = Astro.props;
---
<div>
  <h1 class="text-2xl font-bold">{t.helloText[lang]}</h1>
  <p>{t.interestedText[lang]}</p>

  <div>
    <p class="text-sm">📧 {t.emailText}</p> 
    <a href={t.githubText}><p class="text-sm">🔗 {t.githubText}</p></a>
  </div>

  <div>
    <p>{t.interestedText[lang]}</p>
    <p>{t.backgroundText[lang]}</p>
    <p>{t.projectText[lang]}</p>

	<p>Articles</p>
    <a href={t.linkOpenGlTextKo} class="text-blue-600 underline" target="_blank">🔗 Android Video Editor With OpenGL 한국어</a>
    <a href={t.linkOpenGlTextEn} class="text-blue-600 underline" target="_blank">🔗 Android Video Editor With OpenGL in English</a>
	<br />
    <a href={t.linkText} class="text-blue-600 underline" target="_blank">🔗 Windows Desktop Video Diary app</a>
  </div>
</div>
